@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-lightgray;
}

::-webkit-scrollbar-thumb {
  @apply bg-navy rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gold;
}
